
<!-- <ion-content>
<ion-list>
  <ion-item-sliding *ngFor="let item of items">
    <ion-item>
      <ion-card>
        <div>{{item.word}}</div>
        <div>{{item.description}}</div>

      </ion-card>
    </ion-item>
  </ion-item-sliding>
</ion-list>
</ion-content> -->
<ion-content>


<section class="cards">
    <div class="card card--oil">
        <div class="card__svg-container">
            <div class="card__svg-wrapper"> 
                <p>Fernweh </p>
            </div>
        </div>
        <div class="card__count-container">
            <div class="card__count-text">
               <p>daha önce hiç bulunulmayan bir yer için sıla hasreti hissetmek</p>
            </div>
        </div>
        <div class="card__stuff-container">
            <div class="card__stuff-icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13">
                    <path fill="#6a7a87" d="M9.4,2L9.2,2.3v0.4v7.6v0.4L9.4,11H3.6l0.3-0.3v-0.4V2.7V2.3L3.6,2H9.4 M12,1H1l1.8,1.7v7.6L1,12h11l-1.8-1.7V2.7L12,1L12,1z"/>
                    <line fill="none" stroke="#6a7a87" class="st0" x1="3" y1="6.5" x2="10" y2="6.5"/>
                </svg>
            </div>
            <div class="card__stuff-text"> Gallons of oil</div>
        </div>
    </div>
   
    <div class="card card--oil">
      <div class="card__svg-container">
          <div class="card__svg-wrapper"> 
              <p>Fernweh </p>
          </div>
      </div>
      <div class="card__count-container">
          <div class="card__count-text">
             <p>daha önce hiç bulunulmayan bir yer için sıla hasreti hissetmek</p>
          </div>
      </div>
      <div class="card__stuff-container">
          <div class="card__stuff-icon">
             <img src="../../assets/imgs/like.png">
             <img src="../../assets/imgs/favorite.png">
          </div>
      </div>
  </div>
</section>
</ion-content>
<!-- <ion-header>
  <ion-navbar>
    <ion-title>Kelimeler</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-select placeholder="Select" [(ngModel)]="selected">
    <ion-option *ngFor="let item of items" value="item">{{item.country}}</ion-option>
</ion-select> -->
  <!-- <ion-card>
    <img src="assets/imgs/kelime.png"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">Lorem ipsum dolor sit amet, mea eu ornatus argumentum, vim sonet equidem alienum id. Nam dico debitis dolorem in, purto percipit ex vix. Dolor melius repudiare te cum. Quo id voluptua appetere, utinam essent appellantur eos ei. Ius antiopam consetetur cu, mea te aperiam persius petentium. Cum in labitur platonem, assentior posidonium eloquentiam eos an.</div>
    <div class="card-bottomtitle">
            <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/kelime.png"/>
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">Lorem ipsum dolor sit amet, mea eu ornatus argumentum, vim sonet equidem alienum id. Nam dico debitis dolorem in, purto percipit ex vix. Dolor melius repudiare te cum. Quo id voluptua appetere, utinam essent appellantur eos ei. Ius antiopam consetetur cu, mea te aperiam persius petentium. Cum in labitur platonem, assentior posidonium eloquentiam eos an.</div>
    <div class="card-bottomtitle">  
      <ion-icon name="ios-star-outline"></ion-icon>
    </div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/kelime.png"/>
    <div class="card-title">San Francisco</div>
    <div class="card-subtitle">Lorem ipsum dolor sit amet, mea eu ornatus argumentum, vim sonet equidem alienum id. Nam dico debitis dolorem in, purto percipit ex vix. Dolor melius repudiare te cum. Quo id voluptua appetere, utinam essent appellantur eos ei. Ius antiopam consetetur cu, mea te aperiam persius petentium. Cum in labitur platonem, assentior posidonium eloquentiam eos an.</div>
    <div class="card-bottomtitle">  
      <ion-icon name="ios-star-outline"></ion-icon>
    </div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/kelime.png"/>
    <div class="card-title">Madison</div>
    <div class="card-subtitle">Lorem ipsum dolor sit amet, mea eu ornatus argumentum, vim sonet equidem alienum id. Nam dico debitis dolorem in, purto percipit ex vix. Dolor melius repudiare te cum. Quo id voluptua appetere, utinam essent appellantur eos ei. Ius antiopam consetetur cu, mea te aperiam persius petentium. Cum in labitur platonem, assentior posidonium eloquentiam eos an.</div>
    <div class="card-bottomtitle"> 
        
      <ion-icon name="ios-star-outline"></ion-icon>
    </div>
  </ion-card> -->

<!-- </ion-content> -->
